/bin/Debug/ConsoleShared.dll
/bin/Debug/ConsoleShared.dll.mdb
/bin/Debug/csharp.exe
/bin/Debug/csharp.exe.mdb
/bin/Debug/Mono.CSharp.dll
/bin/Debug/Mono.CSharp.dll.mdb
/bin/Release/csharp.exe
/bin/Release/csharp.exe.mdb
/bin/Release/Mono.CSharp.dll
/bin/Release/Mono.CSharp.dll.mdb
/ChangeLog
/csharp.exe.sources
/csharp.userprefs
/README.md~
/RemoteRepl/bin/Debug/csharp.exe
/RemoteRepl/bin/Debug/csharp.exe.mdb
/RemoteRepl/bin/Debug/Mono.CSharp.dll
/RemoteRepl/bin/Debug/Mono.CSharp.dll.mdb
/RemoteRepl/bin/Debug/RemoteConsole.dll
/RemoteRepl/bin/Debug/RemoteConsole.dll.mdb
/RemoteRepl/bin/Debug/RemoteRepl.exe
/RemoteRepl/bin/Debug/RemoteRepl.exe.mdb
/RemoteRepl/bin/Debug/WcfPeer.dll
/RemoteRepl/bin/Debug/WcfPeer.dll.mdb
/bin/Debug/RemoteConsole.dll
/bin/Debug/RemoteConsole.dll.mdb
